*
{
  margin:0;
  padding:0;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85)),url(coffee.jpg);
    background-size: cover;
    background-position: center;
}
.logo
{
    width: 150px;
    height: 150px;
    cursor: pointer;
    position: absolute;
    top: 1.90%;
    left: 40px;
    right: 20px;
}
.navbar
{
    width: 100%;
    margin: auto;
    padding: 30px 0;
    display: inline-flex;
    align-items:center;
    justify-content: center;
    font-size: 24;
}
.navbar ul li
{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    position: relative;
}
.navbar ul li a
{
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
}
.navbar ul li::after
{
    content: '';
    height: 3px;
    width: 0;
    background: #ffc107;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after
{
    width: 100%;
}
.content
{
    width: 100%;
    position: absolute;
    top: 62%;
    transform: translateY(-50%);
    text-align: center;
    color: azure;
    
}
.content h3
{
    color: #fff;
    font-weight: 100;
    transition: 0.5s;
    cursor: pointer;
}
.content h3:hover
{
-webkit-text-stroke: 2px #fff;
    color: transparent;
}
.title
{
    font-size: 70px;
    line-height: 100px;
    font-weight: bold;
    height: 100px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-family: sans-serif;
}
.dropbtn {
  display: inline-block;
  margin: auto;
  color: #fff;
  font-size: 16px;
  border: none;
  overflow: hidden;
  font-size: 23;
}
.dropdown {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: dimgrey;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 19px;
}
.dropdown-content a {
  color: black;
  padding: 12px;
  text-decoration: none;
  display: inline-flex;
  border-radius: 12px;
  padding: 15px 13.6px;
}
.dropdown-content a:hover
{background-color: lightgray;}

.dropdown:hover .dropdown-content
{display: block;color: transparent;}

.dropdown-dropbtn:hover::after 
{background-color: darkgray; color: transparent; width: 100%; transition: 0.5s; position: absolute;}

button
{
    padding: 15px 25px;
    margin: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    border: 3px solid #ffc107;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(to right,transparent 50%, #ffc107 50%);
    background-size: 200%;
    background-position: left;
    transition: background-position 0.5s;
}
button:hover
{
    background-position: right;
    color: #000;  
}
.slider
{
    color: #ffc107;
    margin-left: 12px;
    box-sizing: border-box;
    animation: slider 6s linear infinite;
}
@keyframes slider
{
    0%{margin-top: -400px;}
    5%{margin-top: -200px;}
    30%{margin-top: -200px;}
    35%{margin-top: 0px;}
    65%{margin-top: 0px;}
    70%{margin-top: 200px;}
    100%{margin-top: 200px;}
}
